<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientFaux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<system.diagnostics>
		<switches>
			<add name="Messaging Logging" value="Verbose"/>
		</switches>
		<trace autoflush="true" indentsize="3"/>
	</system.diagnostics>
 <userSettings>
  <ClientFaux.Properties.Settings>
   <setting name="cmServerName" serializeAs="String">
    <value>SCCM.FoxDeploy.local</value>
   </setting>
   <setting name="cmServerCode" serializeAs="String">
    <value>FOX</value>
   </setting>
   <setting name="baseNamePtrn" serializeAs="String">
    <value>BaseName</value>
   </setting>
   <setting name="startingNo" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="endingNo" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="loudErrors" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="indepthInventory" serializeAs="String">
    <value>True</value>
   </setting>
  </ClientFaux.Properties.Settings>
 </userSettings>
</configuration>
